<header class="header">
  <div class="header-contents">
    <div class="header-logo">
      <img src="images/logo.png" class="header-image"></img>
    </div>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-list-text"><a href="#portfolio-js">Portfolio</a></li>
        <li class="header-list-text"><a href="#feature-js">Feature</a></li>
        <li class="header-list-text"><a href="#profile-js">Profile</a></li>
        <li class="header-list-text"><a href="#contact-js">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<main class="main">
  <div>
    <div class="main-text">Lorem Ipsum</div>
    <p class="main-sub-text">simply dummy text of the printing</p>
  </div>
</main>

<div class="portfolio" id="portfolio-js">
  <div class="portforio-contents">
    <div class="portfolio-header">Portfolio</div>
    <div class="portfolio-text-list">
      <p class="portfolio-text">It is a long established fact that a reader will be distracted by the readable</p>
      <p class="portfolio-text">content of a page when looking at its layout.</p>
      <p class="portfolio-text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    </div>
    <div class="portfolio-images">
      <div class="portfolio-image image-1"></div>
      <div class="portfolio-image image-2"></div>
      <div class="portfolio-image image-3"></div>
      <div class="portfolio-image image-4"></div>
      <div class="portfolio-image image-5"></div>
      <div class="portfolio-image image-6"></div>
    </div>
  </div>
</div>

<div class="feature" id="feature-js">
  <div class="feature-contents">
    <div class="feature-header">Feature</div>
    <div class="feature-text-list">
      <p class="feature-text">It is a long established fact that a reader will be distracted by the readable</p>
      <p class="feature-text">content of a page when looking at its layout.</p>
      <p class="feature-text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    </div>
    <div class="feature-images">
      <div class="feature-image logo-1">
        <i class="fa-solid fa-face-smile"></i>
        <h4>Strength1</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
      </div>
      <div class="feature-image logo-2">
        <i class="fa-solid fa-face-meh-blank"></i>
        <h4>Strength1</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
      </div>
      <div class="feature-image logo-3">
        <i class="fa-solid fa-face-grin-tongue"></i>
        <h4>Strength1</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
      </div>
    </div>
  </div>
</div>

<div class="profile" id="profile-js">
  <div class="profile-contents">
    <div class="profile-header">Profile</div>
    <div class="profile-text-list">
      <p class="profile-text">It is a long established fact that a reader will be distracted by the readable</p>
      <p class="profile-text">content of a page when looking at its layout.</p>
      <p class="profile-text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    </div>
    <div class="profile-images">
      <div class="profile-image">
        <%= image_tag "my-icon.jpg", class: "my-image"%>
      </div>
      <div class="profile-my-text">
        <div class="my-name">
          <h4>MyName</h4>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
        </div>
        <div class="my-skills">
          <h4>MySkills</h4>
          <p>HTML/CSS,JavaScript,JQuery,PhotoShop</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact" id="contact-js">
  <div class="contact-contents">
    <div class="contact-header">Contact</div>
    <div class="contact-text-list">
      <p class="contact-text">It is a long established fact that a reader will be distracted by the readable</p>
      <p class="contact-text">content of a page when looking at its layout.</p>
      <p class="contact-text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    </div>
    <div class="contact-images">
      <div class="contact-me">
        <div class="my-mail">
          <h4>Mail</h4>
          <a href="mailto:">xxx@xxx.com</a>
        </div>
        <div class="my-tel">
          <h4>Tel</h4>
          <a href="tel:">000-0000-0000</a>
        </div>
      </div>
      <div class="sns">
        <p>sns</p>
        <div class="sns-icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <p>©️2023 WebCamp</p>
</footer>